.modal{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.modal .card{
    width: 510px;
    max-width: 80%;
    background: var(--azul-claro);
    position: relative;
}
.modal.active{
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
.modal.active .card{
    animation: modal_animation 0.5s;
}
@keyframes modal_animation  {
  from {transform: translateY(-200px);}
  to {transform: translateY(0);}
}
.modal .card .fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    gap: 12px;
    margin: 15px;
    align-items: center;
}
.modal .user{
    font-size: 20px;
    margin: 0;
}
.modal .card .fields>input{
    font-size: 18px;
}
.modal .card .fields>input:last-child{
    grid-column: 2 span;
}
.modal #title{
    background: var(--azul);
    color: white;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.modal .admin,.modal .hidden{
    display: none;
}
.modal #group_list,.modal #type{
    font-size: 18px;
}
