:root{
    --azul: #102f44;
    --azul-claro: #9BB7C9;
    --azul-hover: #00111C;
    --cafe: #7D4900;
    --cafe-claro: #FAD4A0;
    --cafe-hover: #FFB042;
    --reset-hover: #DDD;
}
body{
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
}
.header{
    background: var(--azul);
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    height: 43px;
}
.logo{
    background: var(--azul-claro);
    color: black;
    padding: 0 10px;
    height: 48px;
    margin-left: 10px;
}
.logo img{
    height: 100%;
    overflow: hidden;
}
.titulo{
    padding-left: 20px;
    color: white;
    font-weight: bold;
}
.content{
    height: calc(100vh - 90px);
    display: flex;
}
.area{
    width: 80%;
    background: white;
    display: flex;
    flex-direction: column-reverse;
}
.footer{
    background: var(--azul);
    padding:5px;
    color: white;
}
input[type='submit'],input[type='reset']{
    cursor: pointer;
    background: var(--azul);
    border: none;
    color: white;
    padding: 9px;
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.2s;
}
input[type='submit']:hover{
    background: var(--azul-hover);
}
input[type='reset']{
    background: white;
    color: black;
    box-shadow: 0 0 0 1px inset;
}
input[type='reset']:hover{
    background: var(--reset-hover);
}
::selection{
  background: black;
  color: white;
}
