:root{
    --azul: #102f44;
    --azul-claro: #9BB7C9;
    --cafe: #7D4900;
    --cafe-claro: #FAD4A0;
    --cafe-hover: #FFB042;
}
body{
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
}
.header{
    background: var(--azul);
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
}
.logo{
    background: var(--azul-claro);
    color: black;
    padding: 10px;
    box-shadow: 0 0 0 4px inset var(--azul);
}
.titulo{
    padding-left: 20px;
    color: white;
    font-weight: bold;
}
.content{
    height: calc(100vh - 90px);
    display: flex;
}
.area{
    width: 80%;
    background: white;
}
.area{
    display: flex;
    flex-direction: column-reverse;
}
.footer{
    background: var(--azul);
    padding:5px;
    color: white;
}
input[type='submit']{
    cursor: pointer;
    background: var(--azul);
    border: none;
    color: white;
    padding: 9px;
    border-radius: 4px;
    font-size: 15px;
}
input[type='reset']{
    cursor: pointer;
    background: white;
    border: none;
    padding: 9px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: 0 0 0 1px inset;
}
::selection{
  background: black;
  color: white;
}
